<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/forms.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/snakes/<%=snake._id%>?_method=PUT" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" name="name" value="<%= snake.name %>" id="name-input">
    <label for="species-input">Species:</label>
    <input type="text" name="species" value="<%= snake.species %>" id="species-input">
    <label for="morph-input">Morph:</label>
    <input type="text" name="morph" value="<%= snake.morph %>" id="morph-input">
    <label for="dateOfBirth-input">DOB:</label>
    <input type="datetime-local" name="dateOfBirth" value="<%= snake.dateOfBirth.toISOString().slice(0,16) %>" id="dateOfBirth-input">
    <label for="weight-input">Weight:</label>
    <input type="text" name="weight" value="<%= snake.weight %>" id="weight-input">
    <label for="tank-input">Tank Number:</label>
    <input type="number" name="tankNum" value="<%= snake.tankNum %>" id="tank-input">
    <button type="submit">Update Snake</button>
  </form>
  <h2>Add Meal</h2>
  <form id="add-meal-form" action="/snakes/<%= snake._id %>/edit" method="POST">
    <label for="food-input">Food:</label>
    <input type="text" id="food-input"
    name="food">
    <label for="dateOfMeal-input">Date:</label>
    <input type="datetime-local" id="dateOfMeal-input"
    name="dateOfMeal">
    <button type="submit">Add Meal</button>
  </form>
  
  <% if (snake.meals.length) { %>
    <table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% snake.meals.forEach(function(meal) { %>
          <tr>
            <td><%= meal.food %></td>
            <td><%= meal.dateOfMeal.toLocaleDateString() %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No meals Yet</h3>
  <% } %>
</main>

<%- include("../partials/footer") %>