<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/style.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="add-meal-form" action="/snakes/<%= snake._id %>/show" method="POST">
    <label for="food-input">Food:</label>
    <input type="text" id="food-input"
    name="food">
    <label for="dateOfMeal-input">Date:</label>
    <input type="datetime-local" id="dateOfMeal-input"
    name="dateOfMeal">
    <button type="submit"><i class="fas fa-plus" style="color: #424242;"></i></button>
  </form>
  
  <% if (snake.meals.length) { %>
    <table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% snake.meals.forEach(function(meal) { %>
          <tr>
            <td><%= meal.food %></td>
            <td><%= meal.dateOfMeal.toLocaleDateString() %></td>
          <td>
            <form 
              action="/snakes/<%= snake._id %>/meals/<%= meal._id %>?_method=DELETE" 
              method="POST"
            >
              <button type="submit"><i class="fas fa-trash-alt" style="color: #424242;"></i></button>
            </form>
          </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No meals Yet</h3>
  <% } %>
</main>

<%- include("../partials/footer") %>