<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/forms.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/snakes" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input">
    <label for="species-input">Species:</label>
    <input type="text" name="species" id="species">
    <label for="morph-input">Morph:</label>
    <input type="text" name="morph" id="morph-input">
    <label for="dateOfBirth-input">DOB:</label>
    <input type="datetime-local" id="dateOfBirth-input"
    name="dateOfBirth">
    <label for="weight-input">Weight:</label>
    <input type="text" name="weight" id="weight-input">
    <label for="tank-input">Tank Number:</label>
    <input type="number" name="tankNum" id="tank-input">
    <button type="submit">Add Snake</button>
  </form>

  <% if (snakes.length) { %>
    <h1>My Snakes</h1>
    <table id="list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Species</th>
          <th>DOB</th>
          <th>Morph</th>
          <th>Weight</th>
          <th>Tank #</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% snakes.forEach((snake) => { %>
        <tr>
          <td><%= snake.name %></td>
          <td><%= snake.species %></td>
          <td><%= snake.dateOfBirth.toISOString().slice(0,10) %></td>
          <td><%= snake.morph %></td>
          <td><%= snake.weight %></td>
          <td><%= snake.tankNum %></td>
          <td>
            <a href="/snakes/<%= snake._id %>/edit">
              <button>✏️</button>
          </td>
          <td>
            <form 
              action="/snakes/<%= snake._id %>?_method=DELETE" 
              method="POST"
            >
              <button type="submit">X</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
      <h3>You havent added any snakes yet</h3>
    <% } %>
</main>

<%- include("../partials/footer") %>