<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/style.css" />
<%- include('../partials/nav') %>

<main>
  <div class="addmeal">
    <table class="form">
      <thead>
        <tr class="form">
          <th class="nocolor"><h1>Add A Meal</h1></th>
          <th class="nocolor"></th>
          <th class="nocolor"></th>
          <th class="nocolor"></th>
        </tr>
      </thead>
      <tbody>
        <form id="add-meal-form" action="/snakes/<%= snake._id %>/meals" method="POST">
        <tr class="form">
            <td>
            <div>
            <label for="food-input">Food:</label>
            <input type="text" id="food-input"
            name="food">
            <label for="dateOfMeal-input">Date:</label>
            <input type="datetime-local" id="dateOfMeal-input"
            name="dateOfMeal">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="addmeal" type="submit">Add Meal</button>
    </form>
  </div>

  <table class="snakedetails">
    <thead>
      <tr>
        <th><h1><%= title %></h1></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>Species</td>
        <td>DOB</td>
        <td>Morph</td>
        <td>Weight</td>
        <td>Tank #</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
      <tr>
        <td><%= snake.name %></td>
        <td><%= snake.species %></td>
        <td><%= snake.dateOfBirth.toISOString().slice(0,10) %></td>
        <td><%= snake.morph %></td>
        <td><%= snake.weight %></td>
        <td><%= snake.tankNum %></td>
        <td>
          <a href="/snakes/<%= snake._id %>/edit">
            <button><i class="fas fa-pencil-alt" style="color: #424242;"></i></button>
        </td>
        <td>
          <form 
            action="/snakes/<%= snake._id %>?_method=DELETE" 
            method="POST"
          >
            <button type="submit"><i class="fas fa-trash-alt" style="color: #424242;"></i></button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>

  <% if (snake.meals.length) { %>
    <table>
      <thead>
        <tr>
          <th><h1>Meals</h1></th>
          <th></th>
          <th></th>
        </tr>
        
      </thead>
      <tbody>
        <tr>
          <td>Food</td>
          <td>Date</td>
          <td>Delete</td>
        </tr>
        <% snake.meals.forEach(function(meal) { %>
          <tr>
            <td><%= meal.food %></td>
            <td><%= meal.dateOfMeal.toLocaleDateString() %></td>
            <td>
              <form 
                action="/snakes/<%= snake._id %>/meals/<%= meal._id %>?_method=DELETE" 
                method="POST"
              >
                <button type="submit"><i class="fas fa-trash-alt" style="color: #424242;"></i></button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No meals Yet</h3>
  <% } %>
</main>
</main>

<%- include("../partials/footer") %>